# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^get/$ wp-content/themes/quatro-rodas-altran/get/index.php [L]
RewriteRule ^page/(.*?)/\?(.*?)$ index\.php?$2&page=$1 [L]
RewriteRule ^img/(.*?)/(.*?)/(.*?)/(.*\.*?)$ wp-content/themes/quatro-rodas-altran/get/index.php?acao=img&tipo=$1&arq=$4&w=$2&h=$3 [L]
RewriteRule ^img/(.*?)/(.*\.*?)$ wp-content/themes/quatro-rodas-altran/get/index.php?acao=img&tipo=$1&arq=$2 [L]
RewriteRule ^img/(.*\.*?)$ wp-content/themes/quatro-rodas-altran/static/img/$1 [L]
RewriteRule ^js/$ wp-content/themes/quatro-rodas-altran/get/index.php?acao=js&lng=$1 [L]
RewriteRule ^css/$ wp-content/themes/quatro-rodas-altran/get/index.php?acao=css [L]
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
